* {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Maru Gothic", "UD デジタル 教科書体", "Avenir Rounded", "Helvetica Rounded", "Arial Rounded MT Bold", sans-serif;
}

body {
  /* background-color: #eff7ff; */
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000DE
}